@font-face {
    font-family: Alata ;
    src: url(../font/Alata/Alata-Regular.ttf);
}
@font-face {
    font-family: Josefin;
    src: url(../font/Josefin_Sans/static/JosefinSans-Thin.ttf);
}
body{
    margin: 0 auto;

}
/*Header*/
header{
    background-color: hsl(0, 0%, 0%);/*mettre en transparence*/
    background-image: url(/assets/images/desktop/image-hero.jpg);
    background-size: cover ;
    background-position: center;
    color: hsl(0, 0%, 100%);
    padding-bottom: 8rem;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 4rem 9rem 4rem 9rem;
}
li{
    /* Display: inline pour mettre sur une ligne tous les éléments de la liste*/
    display: inline;

}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: Alata;
    padding: 0.8rem;
    font-size: 14px;
}
h1{
    font-family: Josefin;
    border: hsl(0, 0%, 100%) solid 2px;
    padding: 20px;
    font-size: 55px;
    max-width: 27rem;
    display: flex;
    justify-content: space-around;
    margin-left: 9rem;
    text-transform: uppercase;
}

/*Main Content*/
/*Section 1*/
.section1{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    position: relative;
    margin-bottom: 9rem;
}
.interact img{
    max-width: 40rem;
    position: absolute;
    /* décalage de l'image vers la gauche*/
    transform: translate(-14rem,0);
}
.content1{
    padding: 5rem;
    background-color: hsl(0, 0%, 100%);
    /* le titre/texte se met devant l'image */
    z-index: 1;
    /* orientation du contenu vis-à-vis de l'image*/
    transform: translate(17rem, 10rem);
}
.content1 h2{
    font-family: Josefin;
    font-size: 45px;
    max-width: 25rem;
    text-transform: uppercase;
}
.section1 p{
    color:hsl(0, 0%, 55%); 
    font-family: Alata;
    max-width: 30rem;
}
/*Section 2*/
.topSect{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 14rem;
    margin-right: 14rem ;
}
.topSect h2{
    font-family: Josefin;
    font-size: 30px;
    text-transform: uppercase;
}
.topSect button{
    background-color: hsl(0, 0%, 100%);
    font-family: Alata;
    text-transform: uppercase;
    font-size: 12px;
    color: hsl(0, 0%, 0%);
    letter-spacing: 0.2rem;
    border: hsl(0, 0%, 0%) solid 1px;
    padding: 0.5em 5em 0.5em 5em;
}
.topSect a:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
}

/*Section 2 : 1ère ligne de photos (line1)*/
.line1{
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.picLine1{
    display: inline-flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.picLine1 img, .picLine2 img{
    filter: brightness(80%);
}
.picLine1 p{
    color: hsl(0, 0%, 100%);
    font-family: Josefin;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    padding-left: 3rem;
    max-width: 7rem;
    line-height: 1.2;
    display: flex;
    position: absolute;
    transform: translateY(21rem);
}

/*Section 2 : 2ème ligne de photos (line2)*/
.line2{
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}
.picLine2{
    display: inline-flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.picLine2 p{
    color: hsl(0, 0%, 100%);
    font-family: Josefin;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    padding-left: 3rem;
    max-width: 8rem;
    line-height: 1.2;
    display: flex;
    position: absolute;
    transform: translateY(21rem);
}
/*Images active*/
.picLine1:hover, .picLine2:hover{
    background-color: hsl(0, 0%, 100%);
    opacity: 0.5;
    cursor: pointer;
}
.MobileImg{
    display: none;
}

/*Footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*Responsive*/
@media (min-width: 375px) and (max-width: 1440px) {
    body{
        /*background-color: blueviolet;*/
        background-color: hsl(0, 0%, 100%);
    }
    header{
        background-image: url(../images/mobile/image-hero.jpg);
    }
    .top{
        justify-content:space-evenly;
    }
    /* Design de la NavBar sur mobile*/
    /*.NavBar{
        background-color: hsl(0, 0%, 0%) ;
        font-family: Josefin;
        max-width: 15rem;
        text-align: left;
    }*/
    h1{
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 15rem;
        padding: 1rem 4rem 1rem 2rem;
        border-width: 3px;
    }
    .interact img{
        transform: none;
        max-width: 20rem;
        justify-content: center;
        margin-top: -3rem;/*diminution du margin-top pour la version mobile*/
    }
    .content1{
        text-align: center;
        position: relative;
        transform: translate(0rem, 15rem);
        padding-top: none;
        padding: 0.1rem;
        max-width: 20rem;
        margin-top: -3rem ;
    }
    .content1 h2{
        font-size: 30px;
        max-width: 100%;
    }
    .content1 p{
        line-height: 1.5;
    }
    .section2 h2{
        /*aligner sur la gauche le titre "our creations"*/
        text-align: center;
        justify-content: space-around;
        padding: 3rem 0rem 3rem 0rem;
        z-index: 2;
    }
    .PcImg{
        display: none;
    }
    .MobileImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 22rem;
        margin-bottom: 1rem;
    }
}